# Dependencies
node_modules/

# Next.js
.next/
out/

# Environment variables
.env
.env.local
.env.*.local
.history

# Debug
npm-debug.log*

# Vercel
.vercel

# IDE
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

